In [1]:
import numpy as np
import scipy as sp
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
%precision 3

'%.3f'

In [3]:
hier_df = pd.DataFrame(
    np.arange(9).reshape(3,3),
    index = [
        ['a','a','b'],
        [1,2,2],
    ],
    columns = [
        ['Osaka', 'Tokyo', 'Osaka'],
        ['Blue', 'Red', 'Red']
    ]
)
hier_df

    Osaka Tokyo Osaka
     Blue   Red   Red
a 1     0     1     2
  2     3     4     5
b 2     6     7     8

In [4]:
hier_df.index.names = ['key1','key2']
hier_df.columns.names = ['city','color']
hier_df

city      Osaka Tokyo Osaka
color      Blue   Red   Red
key1 key2
a    1        0     1     2
     2        3     4     5
b    2        6     7     8

In [ ]:
hier_df.groupby(level='key2').sum()

In [31]:
hier_df['Osaka']

color      Blue  Red
key1 key2
a    1        0    2
     2        3    5
b    2        6    8

In [ ]:
# データの結合や抽出の仕方は他の動画教材で学ぶのでここでは省略

In [13]:
# 時系列データの取り扱いの基礎
import pandas_datareader.data as pdr

start_date = '2001/1/2'
end_date = '2016/12/30'

fx_jpisdata = pdr.DataReader('DEXJPUS', 'fred', start_date, end_date)
fx_jpisdata.resample('ME').last().head()

            DEXJPUS
DATE
2001-01-31   116.39
2001-02-28   117.28
2001-03-31   125.54
2001-04-30   123.57
2001-05-31   118.88